/* =========================================================================
 * BASE
 * ========================================================================= */

/* HTML
 * ------------------------------------------------------------------------- */

html {
  height: 100%;
}

/* BODY
 * ------------------------------------------------------------------------- */

body {
  display: flex;

  margin: 0;

  min-width: var(--dom--min-width);
  min-height: 100%;

  flex-direction: column;

  font-family: 'Roboto', sans-serif;
}

/* =========================================================================
 * MY CUSTOM STYLE
 * ========================================================================= */


.example-collection {
  margin: auto;
  align-items: center;
}

.example-collection>.collection__item:not(:first-child) {
  margin-top: var(--offset--medium);
}

#logo-left {
  width: 128px;
}

.page-title {
  color: var(--color--dark-grey);
}

.font-awesome-example {
  color: var(--color--black);
}

/*CSS ajouté*/

/*Nav*/
.main-bg {
  background-color: #f39b28;
}

/*Body*/
.bg-img {
  background: url('../images/annie-spratt-qyAka7W5uMY-unsplash.jpg');
  height: 1000px;
  background-size: cover;
}

h2 {
  background-color: white;
  padding: 1rem;
}

.card-img-top {
  width: 30%;
  object-fit: cover;
}

.btn {
  border-radius: 0;
}

.card-body {
  padding: 0;
}

.nav-item>* {
  color: white;
}

.carousel-item>img {
  height: 30rem;
  object-fit: cover;
}

/*Footer*/

.sns {
  background-color: var(--color--theme--main);
  color: white;

  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 50%;
}


.mention {
  text-decoration: underline;
  color: var(--color--x-dark-grey);
  margin-left: 1rem;
  margin-right: 1rem;
  text-transform: uppercase;
}

footer {
  display: flex;
  justify-content: space-between;
}

.footer-content {
  margin: 2rem;
}

/*ça marche pas*/
a:hover {
  color: red;
  text-decoration: underline;
  color: inherit;
}

/*Responsive*/
@media (max-width: 991px) {
  .container-fluid {
    margin: 0;
    padding: 0;
  }

  .container {
    margin: 0;
    padding: 0;
    max-width: 991px;
  }

  #logo-left {
    max-width: 991px;
    margin: auto;
    display: block;
  }

  #navbarNav {
    display: flex;

  }

  #nav-right {
    flex-direction: row;
    margin: auto;
  }

  .nav-link {
    margin-left: 1rem;
  }

  footer {
    max-width: 991px;
    text-align: center;
    display: block;
    margin-bottom: 3rem;
  }

  .footer-content {
    margin: auto;
  }

}